<div class="tab-pane " id="about">
  <h3>Summary</h3>
  <hr>
  <p [innerHTML]="companyDetails?.about"></p>
  <!-- <h3>Areas of Expertise</h3>
  <hr>
  <div class="profile-table">
      <table>
          <tbody>
              <tr>
                  <td>Primary Asset Class</td>
                  <td>Equities</td>
              </tr>
              <tr>
                  <td>Geography</td>
                  <td>Global</td>
              </tr>
              <tr>
                  <td>Countries</td>
                  <td>(Generalist)</td>
              </tr>
              <tr>
                  <td>Sectors</td>
                  <td>Materials, Energy</td>
              </tr>
          </tbody>
      </table>
  </div> -->
  <!-- <h3>Work Experience</h3>
  <hr>
  <div class="profile-work">
      <ul>
          <li>BMO Capital Markets - Associate analyst, Base Metals, Iron ore, Uranium and Precious
              metals</li>
          <li>Morgan Stanley - US Metals & Mining, EU Small & Mid cap research</li>
      </ul>
  </div> -->
</div>