<div class="col-md-12">
    <div class="locker">
        <h4>
            <i class="fa fa-lock" aria-hidden="true"></i>LOCKERS</h4>
    </div>
    <div class="locker-buttons">
        <div class="btn-group ">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" (click)="AddLink()">
                <i class="fa fa-link" aria-hidden="true"></i>
                ADD LINK</button>
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" (click)="AddNotes()">
                <i class="fa fa-file" aria-hidden="true"></i>
                ADD NOTES</button>
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" (click)="FileUpload()">
                <i class="fa fa-upload" aria-hidden="true"></i>
                UPLOAD FILES</button>
            <ul class="dropdown-menu">
                <div *ngIf="showform">
                    <form [formGroup]="lockerForm" (ngSubmit)="saveLocker()">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="title">Title</label>
                                <input id="title" type="text" class="form-control" formControlName="title">
                                <div *ngIf="formErrors.title" class="small text-danger formErrors" [innerHTML]="formErrors.title">
                                </div>
                            </div>
                            <div class="form-group" *ngIf="notedivision">
                                <label for="note">Note</label>
                                <textarea id="note" type="text" class="form-control" formControlName="note">Enter Note
                                                         </textarea>
                                <div *ngIf="formErrors.note" class="small text-danger formErrors" [innerHTML]="formErrors.note">
                                </div>
                            </div>
                            <div class="form-group" *ngIf="urldivision">
                                <label for="url">Url</label>
                                <input id="url" type="text" class="form-control" formControlName="url">
                                <div *ngIf="formErrors.url" class="small text-danger formErrors" [innerHTML]="formErrors.url">
                                </div>
                            </div>
                            <div class="form-group" *ngIf="filesdivision">
                                <label>Files:</label>
                                <dropzone class="" [config]="config" [message]="'Click or drag images here to upload'" (success)="onUploadSuccess($event)"
                                    (error)="onUploadError($event)" (canceled)="cancelUpload($event)">
                                </dropzone>
                                <div *ngIf="formErrors.files" class="small text-danger formErrors" [innerHTML]="formErrors.files">
                                </div>
                            </div>
                            <div class="form-group" style="padding-left:5%">
                                <button type="submit" class="btn btn-primary" [attr.disabled]="lockerForm.invalid || submitting ? true : null" [innerText]="submitBtnText"></button>
                                <app-submitting *ngIf="submitting"></app-submitting>
                                <a *ngIf="!submitting" class="btn btn-link" (click)="resetForm()" tabindex="0">Reset Form</a>
                                <p *ngIf="error" class="mt-3 alert alert-danger">
                                    <strong>Error:</strong> There was a problem submitting the form. Please try again.
                                </p>
                            </div>
                        </div>
                    </form>
                </div>
            </ul>
        </div>
    </div>
</div>
<div class="form-sign">
    <form [formGroup]="lockerFilterForm" (ngSubmit)="saveLocker()" novalidate autocomplete="on" *ngIf="!noRecords; else otherBlock" >
        <div class="row search-form">
            <div class="col-md-10 col-sm-10 col-sm-10">
                <div class="form-group filter">
                    <select class="form-control filter-select input-sm" formControlName="sortBy">
                        <option value="recent">Most Recent</option>
                        <option value="old">Most Aged</option>
                    </select>
                </div>
                <div class="form-group filter">
                    <select class="form-control filter-select input-sm" formControlName="status">
                        <option value="">All</option>
                        <option *ngFor="let ltype of locerItemsList?.data" [value]="ltype.id">{{ltype.type}}</option>
                    </select>
                </div>
                <div class="form-group filter">
                    <input type="text" class="form-control filter-textbox input-sm" placeholder="Quick Filter" formControlName="quickFilter">
                    <span class="glyphicon glyphicon-filter form-control-feedback"></span>
                </div>
            </div>
        </div>
    </form>
    <ng-template  #otherBlock>
        <h1 style="text-align:center">NO Records Found</h1>
    </ng-template>
    <div class="col-md-12">
        <div class="col-md-4" *ngFor="let locker of lockers">
            <div class="locker-list">
                <span class="para">{{ locker.title | titlecase}}. </span>

                <div *ngIf="locker.note">
                    <p class="note">{{locker.note}} </p>

                </div>
                <div>
                    <a *ngIf="locker.url">
                        <p class="url">
                            <i class="fa fa-link" aria-hidden="true"></i>
                            {{locker.url}}</p>
                    </a>
                </div>
                <div *ngIf='locker.note || locker.url'>
                    <span>
                        <a href="javascript:void(0);" data-toggle="modal" data-target="#myModal" (click)="modelopen(locker.id);">...More</a>
                    </span>
                </div>
                <div class="icon-attachments" *ngFor="let file of locker.locker_files">
                    <div class="attached-file" *ngIf='file.orgName'>
                        <p>
                            <i class="fa fa-{{_utils.extIcon(null, file.orgName)}}" aria-hidden="true"></i>
                            <a download href="{{serverURL+file.path}}">{{file.orgName}}</a>
                        </p>
                    </div>
                </div>
                <p class="date">
                    <i class="fa fa-fw fa-clock-o"></i>
                    {{_utils.toDateString(locker.createdAt)}}
                </p>
            </div>
        </div>
    </div>
    <div id="myModal" class="modal fade" *ngIf="showModel">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Locker Data</h4>
                </div>
                <div class="modal-body" *ngFor="let popup of lockerpopup">
                    <p>Title:
                        <span>{{popup.data.title}}</span>
                    </p>
                    <p *ngIf="popup.data.note">Note:
                        <span>{{popup.data.note}}</span>
                    </p>
                    <p *ngIf="popup.data.url">Url:
                        <span>{{popup.data.url}}</span>
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>