<!-- Small boxes (Stat box) -->
<div class="row">
    <div class="col-lg-3 col-xs-6"> 
      <!-- small box -->
      <div class="small-box bg-aqua">
        <div class="inner">
          <h3>{{products}}</h3>
          <p>Products</p>
        </div>
        <div class="icon"> <i class="ion ion-clock"></i> </div>
        <a routerLink="/admin/products" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a> </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-xs-6"> 
      <!-- small box -->
      <div class="small-box bg-green">
        <div class="inner">
          <h3>0<sup style="font-size: 20px"></sup></h3>
          <p>Orders</p>
        </div>
        <div class="icon"> <i class="ion ion-android-drafts"></i> </div>
              <a routerLink="/admin/clients" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a> </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-xs-6"> 
      <!-- small box -->
      <div class="small-box bg-yellow">
        <div class="inner">
          <h3>{{clients}}</h3>
          <p>Users</p>
        </div>
        <div class="icon"> <i class="ion ion-person-add"></i> </div>
        <a routerLink="/admin/users" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a> </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-xs-6"> 
      <!-- small box -->
      <div class="small-box bg-red">
        <div class="inner">
          <h3>{{categories}}</h3>
          <p>Categories</p>
        </div>
        <div class="icon"> <i class="ion ion-man"></i> </div>
        <a routerLink="/admin/categories" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a> </div>
    </div>
    <div class="col-lg-3 col-xs-6"> 
      <!-- small box -->
      <div class="small-box bg-teal">
        <div class="inner">
          <h3>{{subcategories}}</h3>
          <p>Sub-Categories</p>
        </div>
        <div class="icon"> <i class="ion ion-man"></i> </div>
        <a routerLink="/admin/sub-categories" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a> </div>
    </div>
    <!-- ./col --> 
  </div>
 